<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java Virtual Memory/src/cn/youric/methodArea/MethodAreaTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JDK_1.6_64/"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.youric.methodArea.MethodAreaTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java Virtual Memory"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:MetaspaceSize=8m -XX:MaxMetaspaceSize=8m -XX:+PrintFlagsInitial"/>
</launchConfiguration>
